$color-primary: rgb(25,118,210);
$color-secondary: rgb(97,97,97);
$color-danger: rgb(211,47,47);
$color-warning: rgb(245,124,0);
$color-success: rgb(56,142,60);
$color-info: rgb(0,151,167);
$color-background: rgb(250,250,250);
$color-foreground: rgb(38,50,56);
$color-white: rgb(255,255,255);

$color-gray-100: rgb(245,245,245);
$color-gray-200: rgb(238,238,238);
$color-gray-300: rgb(224,224,224);
$color-gray-400: rgb(189,189,189);
$color-gray-500: rgb(158,158,158);
$color-gray-600: rgb(117,117,117);
$color-gray-700: rgb(97,97,97);
$color-gray-800: rgb(66,66,66);
$color-gray-900: rgb(33,33,33);
